<div class="voices-and-votes con">
  <div class="voices-and-votes__header">
    <h1>Voices and votes</h1>
  </div>
  <div class="voices-and-votes__content">
    <h1 class="voices-and-votes__intro">
      <span>
          The Guardian has sent six reporters to constituencies across the country to each spend a month listening to people in the run-up to the general election. We want to hear what life is like, understand the important issues and report what this election will mean to different voters. We encourage you to contribute to, guide and help shape our reporting – and to follow our progress as we publish weekly from each of our six constituencies.
      </span>
      <span class="voices-and-votes__link">
          <!-- <a target="_parent" href="https://www.theguardian.com/politics/2017/may/03/hartlepool-voters-tell-us-which-issues-will-decide-this-election">Get involved in this project</a> -->
          <!-- <a href="https://www.gu.com">More from Voices and votes</a> -->
          <a target="_parent" href="https://www.theguardian.com/politics/general-election-2017">Full election coverage</a>
      </h1>
    </div>
    <div class="voices-and-votes__footer">
      <div class="voices-and-votes__logo">
        <svg viewBox="0 0 935 546" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path fill="#E32729" d="M312.044 468.873L870.772.045l64.28 76.604-558.73 468.827"/><path fill="#E32729" d="M312.044 468.872l64.28 76.604L935.05 76.648 870.773.044"/><path fill="#F8AE1D" d="M156.044 468.873L714.772.045l64.28 76.604-558.73 468.827"/><path fill="#FAB817" d="M156.044 468.872l64.278 76.604 558.73-468.828L714.77.044"/><path fill="#1A60A9" d="M.044 468.872l64.278 76.604L623.05 76.648 558.77.044"/></g></svg>
      </div>
    </div>
  </div>
